.form {
  height: 50rem;
  width: 80rem;
  background-color: #999;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  box-shadow: 0 1rem .8rem rgba(0, 0, 0, 0.4);
}